fastapi>=0.110.0
uvicorn[standard]>=0.29.0
google-api-python-client>=2.125.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
python-multipart>=0.0.9
easyocr>=1.7.0
deepface>=0.0.100
tf-keras>=2.21.0
onnxruntime-gpu>=1.26.0
